<img src="{{image}}"
    alt="Planet X" class="planet-img">
<div class="planet-info">
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Solar System:</strong> {{solarSystem}}</p>
    <button href="">Details</button>
</div>